/* Setup Variables
  =========================================================================== */

$grid-gutter: 1rem;

/* Setup Utility Classes
  =========================================================================== */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  @media #{$tablet} { font-size: 105%; }
  @media #{$desktop} { font-size: 110%; }
}
